#form-div {
	position: absolute;
	right: 3%;
	border-radius: 5px;
	background-color: #F2F2F2;
	padding: 20px;
	width: 25%;
	border: 1px solid #AAA;
}

#login-form, #logout-form {
	display: none;
}

#logout-form.active, #login-form.active {
	display: block;
}

[type=checkbox] {
	margin: 22px auto;
}

[type=email], [type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #CCC;
	border-radius: 4px;
	box-sizing: border-box;
}

[type=submit] {
	width: 100%;
	background-color: #54AFC2;
	color: #FFF;
	padding: 14px 20px;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.5s;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #1791A8;
}

#login [type=button] {
	width: 100%;
	background-color: #54AFC2;
	color: #FFF;
	padding: 14px 20px;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	transition: 0.5s;
	border-radius: 4px;
	cursor: pointer;
	margin: 10px auto;
}

#login input[type=button]:hover {
	background-color: #1791A8;
}

.main-page {
	position: relative;
}